@page
@model WebAppClientes.Ui.Web.Pages.Cliente.UpdateModel
@{
    ViewData["Title"] = "Alterar cliente";
}

<form method="post" class="form-create-cliente">
    <h1>@ViewData["Title"]</h1>
    <input type="hidden" asp-for="Cliente.Id" />
    <p>Atualize as informações do cliente :)</p>
    @if (!string.IsNullOrWhiteSpace(ViewData["Errors"]?.ToString()))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewData["Errors"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNome">Nome</label>
            <input class="form-control" id="inputNome" asp-for="Cliente.Nome">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCpf">CPF</label>
            <input class="form-control" id="inputCpf" asp-for="Cliente.Cpf">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Endereço</label>
        <input type="text" class="form-control" id="inputAddress" asp-for="Cliente.Rua" placeholder="Rua tal, numero tal, próximo de tal">
    </div>

    <div class="form-row">
        <div class="form-group col-md-7">
            <label for="inputBairro">Bairro</label>
            <input type="text" class="form-control" id="inputBairro" asp-for="Cliente.Bairro">
        </div>
        <div class="form-group col-md-5">
            <label for="inputCidade">Cidade</label>
            <input type="text" class="form-control" id="inputCidade" asp-for="Cliente.Cidade">
        </div>
    </div>

    <div class="form-group">
        <label for="textAreaObservacoes">Observações</label>
        <textarea class="form-control" id="textAreaObservacoes" rows="3" asp-for="Cliente.Observacoes"></textarea>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>