@page
@model WebAppClientes.Ui.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<p>Este projeto foi desenvolvido com o intuito de exemplificar uma aplicação utilizando CQRS, utilizando .NET Core e como base de dados de leitura o MongoDB e escrita PostgreSQL.</p>

<p>Fique a vontade para contribuir :)</p>