@page
@model WebAppClientes.Ui.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row row-sub-title">
    <div class="col">
        <h2>Listagem de clientes</h2>
    </div>
    <div class="col">
        <button type="button" id="btnNovoCliente" class="btn btn-success btn-sucess-new-cliente">
            Novo cliente
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Cidade</th>
                    <th>Observações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model.Clientes)
                {
                    <tr>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Cpf</td>
                        <td>@cliente.Cidade</td>
                        <td>@cliente.Observacoes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>